@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: plum;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}



h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

.container{
    display:inline-block;
    width:100%;
    padding: 2%;
    margin:0.25em auto;
    /* background-color: #000; */
   
} 


.form{
    margin: 0 auto;
    align-items: center;
    background-color:white;
    box-sizing: border-box;
    width: 90vw;
    max-width: 700px;
    margin: 20px auto;
    padding:2em;
    display:block;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

label,input, textarea, select{
    display:block;
    font-family: "Raleway", sans-serif;
    width: 100%;
    padding:0px;
}

label,input,select{
    height: 2.5em;
}

label{
    text-decoration:none
}