@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: #175676;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #175676;
    padding: 10px;
}



h1 {
    font-family: 'sans-serif';
    color: white;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'sans-serif'; 
   color: white;
   display: flex;
   justify-content: center;

}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;

}

a {
    margin: 2px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #555;

}

a, p {
    font-family: monospace;
    color: white;
}


.container{
    display:inline-block;
    width:100%;
    padding: 2%;
    margin:0.25em auto;
   
} 


form{
    margin: 0 auto;
    align-items: center;
    background-color:white;
    box-sizing: border-box;
    width: 90vw;
    max-width: 700px;
    margin: 20px auto;
    padding:2em;
    display:block;

}


label,input, textarea, select{
    display:block;
    font-family: "Raleway", sans-serif;
    width: 100%;
    padding:0px;
}

label,input,select{
    height: 2.5em;
}

label{
    text-decoration:none;
    color: black;
}